<header>
    <div class="logo-container">
        <img src="./assets/images/logo-hover.webp" alt="RHA Logo" class="logo logo-normal">
        <img src="./assets/images/logo.webp" alt="RHA Logo Hover" class="logo logo-hover">
    </div>

    <nav class="desktop-nav">
        <a href="index.html">Главная</a>
        <a href="#">Товары</a>
        <a href="o_nas.html">О нас</a>
        <a href="kontact.html">Контакты</a>
    </nav>

    <div class="korzina_user">
        <img src="./assets/images/korzina_bardovai.webp" alt="Корзина" class="korzina">
        <img src="./assets/images/luna.webp" alt="Переключить тему" class="luna">
        <img src="./assets/images/user.webp" alt="Пользователь" class="user">
    </div>

    <!-- Бургер меню для мобильных -->
    <div class="burger-nav">
        <input type="checkbox" id="burger-toggle">
        <label for="burger-toggle">
            <span></span>
        </label>
        <ul class="burger-menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="#">Товары</a></li>
            <li><a href="o_nas.html">О нас</a></li>
            <li><a href="kontact.html">Контакты</a></li>
            <li class="mobile-icons">
                <div class="korzina_user">
                    <img src="./assets/images/korzina_bardovai.webp" alt="Корзина" class="korzina">
                    <img src="./assets/images/luna.webp" alt="Переключить тему" class="luna">
                    <img src="./assets/images/user.webp" alt="Пользователь" class="user">
                </div>
            </li>
        </ul>
    </div>
</header>
<!--<script src="assets/js/ts.js"></script>-->