<header>
    <div class="logo-container">
        <img src="./assets/images/logo.webp" alt="L.R.A. логотип" class="logo logo-normal">
        <img src="./assets/images/hoverlogo.webp" alt="L.R.A. логотип" class="logo logo-hover">
    </div>

    <!-- Обычная навигация (видна на десктопе) -->
    <nav class="desktop-nav">
        <a href="./o_nas.html">о нас</a>
        <a href="#cooperation">сотрудничество</a>
        <a href="./kontact.html">контакты</a>
        <a href="#help">помощь</a>
    </nav>

    <!-- Бургер-меню (виден на мобильных) -->
    <nav class="burger-nav">
        <input id="burger-toggle" type="checkbox">
        <label for="burger-toggle">
            <span></span>
        </label>
        <ul class="burger-menu">
            <li><a href="./o_nas.html">о нас</a></li>
            <li><a href="#cooperation">сотрудничество</a></li>
            <li><a href="./kontact.html">контакты</a></li>
            <li><a href="#help">помощь</a></li>
        </ul>
    </nav>

    <div class="korzina_user">
        <img src="./assets/images/korzina_bardovai.webp" class="korzina">
        <img src="./assets/images/user%20(1).webp" class="user">
        <img src="./assets/images/luna.webp" class="luna">
    </div>
</header>