<header>
    <div class="logo-container">
        <img src="./assets/images/logo.webp" alt="L.R.A. логотип" class="logo logo-normal">
        <img src="./assets/images/hoverlogo.webp" alt="L.R.A. логотип" class="logo logo-hover">
    </div>
    <nav>
        <a href="#about">о нас</a>
        <a href="#cooperation">сотрудничество</a>
        <a href="#contacts">контакты</a>
        <a href="#help">помощь</a>
    </nav>
    <div class="korzina_user">
        <img src="./assets/images/korzina_bardovai.webp" class="korzina">
        <img src="./assets/images/user%20(1).webp" class="user">
    </div>
</header>