<footer>
    <p class="footer-text">Интернет-магазин парикмахерских товаров с доставкой по России</p>
    <section class="groop_footer">
        <p>
            <a href="#">О магазине</a><br>
            <a href="#">Сотруднечество</a><br>
            <a href="#">Регистрация</a><br>
            <a href="#">О компании</a>
        </p>
        <p>
            <a href="#">Каталог</a><br>
            <a href="#">Ножницы</a><br>
            <a href="#">Машинки для стрижки</a><br>
            <a href="#">Брашинг</a><br>
            <a href="#">Опасная бритва</a><br>
        </p>
        <p>
            <a href="#">Информация</a><br>
            <a href="#">Как заказать</a><br>
            <a href="#">Оплата</a><br>
            <a href="#">Доставка</a><br>
            <a href="#">Возврат и обмен товара</a><br>
            <a href="#">Помощь</a>
        </p>
        <p>
            <a href="#">Контакты</a><br>
            <a href="#">+7 (495) 181-22-12</a><br>
            <a href="#">+7 (925) 224-2212</a>
        </p>
    </section>


</footer>