<section class="hero-content_bloc1">
    <div class="hero-ocnova_bloc1">
        <div class="hero-ocnova-text">
            <p class="lra-bloc2">Роскошь <br>
                Надежность -<br>
                Артистизм </p>
            <p class = 'podzagolovok-bloc2'> инструменты для тех,<br> кто  создает<br> искусство.</p>
        </div>
        <p class="podzagolovok-bloc23">Тщательно отобранный ассортимент профессиональной <br>  парикмахерской техники и инструментов премиум-класса,<br> который обеспечивает безупречную точность, скорость и <br> комфорт в работе</p>
        @@include('../components/button.html', {
        "text": "Оформить заказ"
        })
    </div>
    </div>
</section>